:root{
    font-size: 18px;
}

body{
    background-color: #9eF;

    margin: 0;
}

h1, main, footer{
    background: white;
}

h1{
    margin: 5px auto 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.466);

    font-size: 1.5em;

    text-align: center;
    width: 50%;
    min-width: 300px;
}

main{
    border-radius: 10px;
    /* padding: 10px; */
    width: 80%;
    margin: 15px auto 60px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);

    min-width: 350px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

footer{
    text-align: center;

    position: fixed;
    width: 100%;
    padding: 5px;
    left: 0;
    bottom: 0;

    box-sizing: border-box;
}

aside {
    background-color: rgba(0, 0, 0, .125);
    width: 47.5%;

    padding: 10px;

    border-radius: 10px;

    box-sizing: border-box;
}

#product-details > img {
    float: left;
    width: 200px; 
    height: 300px;
    margin-right: 10px;

    border-radius: 5px;
}

#grid {
    display: grid;
    grid-template-rows: 35% 15% 27%;
    gap: 5px;
}

#grid > h3 {
    margin: 0;
}

#grid > ul{
    padding-inline-start: 0;
    list-style-type: none;

    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#grid > ul > li{
    display: inline-block;
}

article{
    width: 47.5%;
    text-align: center;
    padding: 10px;
}

article section{
    display: flex;
    
    flex-flow: row wrap;

    justify-content: space-evenly;
}

.product, input {
    border: none;
    cursor: pointer;
    outline: none;
}

.product{
    width: 125px;
    height: 125px;

    margin: 5px 2.5px 5px 2.5px;
    padding: 0;

    display: inline-block;

    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;

    border-radius: 20px;
    background-color: rgba(0, 0, 0, .125);
}

.product:hover{
    background-color: rgba(0, 0, 0, .25);
}

a{
    display: inline-block;

    font-size: 1rem;

    text-decoration: none;
    padding: 10px;

    box-sizing: border-box;
    cursor: pointer;

    color: #fff;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 5px;
}

a:hover{
    background-color: rgba(0, 0, 0, .5);
}

input{    
    font-size: 1rem;

    border-radius: 5px;
    padding: 20px;

    transition-duration: 0.2s;
}

input.chose{
    background-color: #0c0;
}

input.chose:hover{
    background-color: #090;
    color: #FFF;
}

input.chosen{
    background-color: #c00;
    color: #fff;
}

.preco{
    padding: 0 5%;
    font-size: .90rem;
    text-align: end;
}

.nome{
    padding: 0 2px;
    margin: .5rem 0;
    font-size: 1rem;
}

.form, .nome{
    text-align: center;
}

.nome, .preco, .form{
    margin: auto 0;
}

#endereco{
    clear: both;
    padding-top: 10px;
    margin-top: 40px;
}

#endereco p, #endereco h4{
    margin: 5px 0;
}

#product-details ul a{
    margin: 0 10px;
}

@media(max-width: 964px){
    h1{
        width: 85%;
    }

    main{
        width: 95%;
    }

    #product-details > img{
        width: 150px;
        height: 225px;
    }
}

@media(max-width: 704px){
    h1, h2{
        font-size: 1.25rem;
    }

    .nome{
        font-size: .95rem;
    }

    #grid{
        text-align: center;
    }

    #product-details > img {
        float: none;
    }
}